{{ "<!-- Start Header -->" | safeHTML }}
<header id="header">
	<nav class="navbar navbar-expand-md navbar-dark">
		<div class="container">
            <!-- Brand -->
		  	<a class="navbar-brand" href="{{ .Site.BaseURL }}"><img src="{{ .Site.Params.header.siteLogo }}"></a>
            <!-- Toggler/collapsibe Button -->
		  	<div id="nav-icon0">
			  <span></span>
			  <span></span>
			  <span></span>
			  <span></span>
			  <span></span>
			  <span></span>
			</div>
            <!-- Navbar links -->
		  	<div class="navbar-collapse" id="collapsibleNavbar">
		    	<ul class="navbar-nav menu">
		    		{{ $currentNode := . }}	
					{{ range .Site.Menus.main }}
					{{ $menu_item_url := .URL | relLangURL }}
				    {{ $page_url:= $currentNode.RelPermalink | relLangURL }}
				       {{ $activeClass := "" }} 
				    {{ if eq $menu_item_url $page_url }}
				       {{ $activeClass = "active" }} 
				    {{ end }}
					{{ if .HasChildren }}
			      	<li class="nav-item {{$activeClass}}"><a class="nav-link" href="{{.URL}}">{{ .Name}}</a>
			            <ul class="submenu">
			                {{ range .Children }}
			                    <li class="{{ if $currentNode.IsMenuCurrent "main" . }}active{{ end }}">
			                        <a href="{{ .URL }}">{{ .Name }}</a>
			                    </li>
			                {{ end }}
			            </ul>
			      	</li>
			      	{{ else }}
			      	<li class="nav-item {{$activeClass}}"><a id="{{$menu_item_url}}" d="{{$page_url}}" class="nav-link" href="{{.URL}}">{{ .Name}}</a></li>
			      	{{ end }}
					{{end}}
		      	</ul>
		  	</div>
		</div>
	</nav>
</header>
{{ "<!-- End Header -->" | safeHTML }}