{{ partial "header.html" . }}

{{ "<!-- Start About -->" | safeHTML }}

<!-- Start banner -->
<section class="banner" style="background-image: url({{ .Site.BaseURL }}images/calendar_banner.jpeg)">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>{{ .Params.Title }}</h1>
			</div>
		</div>
	</div>
</section>
<!-- End banner -->


<!-- Start ab_content -->
<section class="ab_content pt60 pb60">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="vision_ab mb40">
					<h3><em>VISION</em></h3>
					<h2>Ensuring human dignity in connected products and services</h2>
					<p>We live in a connected world. The technology products and services like smart phones, ride shares, and social media we buy and sell every day generate and consume data. Data can be integral to the product or service, used to improve the products, or used to tailor apps to your needs. However, sometimes data is used in ways that do not benefit you, cause you real harm or manipulate you. Surveillance of your online and offline activities changes the advertising and messages that target you. Supplier lock-in affects your ability to act freely with products you have purchased.</p>
					<p><em><strong>Me2B is an alliance that helps you know that technology products and services are designed and offered in ways that give you a fair deal and real agency: with your data, with your purchases, with your online activities.</strong></em></p>
				</div>
				<div class="mission_ab">
					<h3><em>MISSION</em></h3>
					<h2>Growing the availability of trustworthy technology choices.</h2>
					<p>Businesses work with Me2B to make sure that they and their suppliers are helping, not harming, consumers. We connect them to other companies that are already certified and have met the rigorous Me2B standards. Or, we work with them to get the companies they are already working with certified by addressing the economic, social and privacy needs of consumers. If a business meets all of our criteria, they may use the Me2B Mark on their products to let shoppers know that they are managing your data ethically and responsibly, and that you have an active role in setting up the fair deal.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End ab_content -->

{{ "<!-- End About -->" | safeHTML }}

{{ partial "footer.html" . }}