{{ partial "header.html" . }}

{{ "<!-- Start calendar -->" | safeHTML }}
<!-- Start banner -->
<section class="banner calendar_banner" style="background-image: url({{ .Site.BaseURL }}images/calendar_banner.jpeg)">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>{{ .Params.Title }}</h1>
			</div>
		</div>
	</div>
</section>
<!-- End banner -->

<!-- Start calendar content -->
<section class="calendar_content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Calendar for Me2B Alliance Group Calls</h2>
				<div class="iframe_calendar">
					<iframe src="https://calendar.zoho.com/group/embed/ae22d3bb3719d0d2a6e76c43c54596d6e0f6ef43943bc58bab3c545d716711d82e8a5b6f62e29fc058175b8da2b0c5e9?title=Me2B%20Alliance&amp;type=1&amp;l=en&amp;tz=US%2FPacific&amp;shtitle=1&amp;shtz=1&amp;shdv=1&amp;v=2" width="1000" height="700" frameborder="0" scrolling="no"></iframe>
				</div>
				<p>If you would like to be added to a Working Group and receive calendar reminders, please <a href="mailto:megan.bekolay@me2balliance.org">email us</a>.</p>
			</div>
		</div>
	</div>
</section>
<!-- End calendar content -->
{{ "<!-- End calendar -->" | safeHTML }}

{{ partial "footer.html" . }}
