{{ partial "header.html" . }}

{{ "<!-- Start Repository -->" | safeHTML }}

<!-- Start banner -->
<section class="banner calendar_banner" style="background-image: url({{ .Site.BaseURL }}images/calendar_banner.jpeg)">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>{{ .Params.Title }}</h1>
			</div>
		</div>
	</div>
</section>
<!-- End banner -->

<section class="repository_content pt60 pb60">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Me2B Alliance</h2>
				<div class="Repository_link_grid">
					<ul>
						<li><a href="https://zdrive.li/DCa" target="_blank">Me2B Stakeholder Descriptions</a></li>
						<li><a href="https://zdrive.li/tzx" target="_blank">Me2B Relationship Rules of Engagement</a></li>
						<li><a href="https://show.zohopublic.com/publish/epjrl8cba6786dfaa41dcaf2621eb390a5433?viewtype=1" target="_blank">Introduction to the Me2B Alliance - IIW 05/02/19</a></li>
						<li><a href="https://show.zohopublic.com/publish/herfba093285333b144d6b167c0f2ad8f0f40" target="_blank">Introduction to Me2B Alliance - MyData Webinar 10/25/19</a></li>
						<li><a href="https://show.zohopublic.com/publish/h1g6z276dd6e63f8946cf9904b0a84ed84445?viewtype=1" target="_blank">Me2B Relationships</a></li>
						<li><a href="https://zdrive.li/scQ" target="_blank">Me2B Rules of Engagement</a></li>
					</ul>
				</div>
				<div class="Repository_link_grid">
					<h3>LIVING DOCUMENTS</h3>
					<ul>
						<li><a href="https://tdrive.li/5x5hkK" target="_blank">Digital Harms Dictionary v0.2</a></li>
						<li><a href="https://zdrive.li/DcK" target="_blank">Privacy Related Academic Projects</a></li>
						<li><a href="https://zdrive.li/8rI" target="_blank">Business Model & Economics Research  </a></li>
						<li><a href="https://zdrive.li/LnH" target="_blank">Organization Landscape Spreadsheet</a></li>
						<li><a href="https://zdrive.li/DNY" target="_blank">Me2B Certification Use Cases</a></li>
						<li><a href="https://tdrive.li/Jqmczb" target="_blank">Glossary</a></li>
					</ul>
				</div>
				<div class="Repository_link_grid">
					<h3>MEETING NOTES</h3>
					<ul>
						<li><a href="https://zdrive.li/Ogu" target="_blank" class="">Meeting #1 &nbsp; 03/13/19&nbsp; -&nbsp; Notes</a></li><li><a href="https://show.zohopublic.com/publish/dv1v122b2e1e80d534c0897333c778f3b5a9a?viewtype=1" target="_blank" class="">Meeting #2&nbsp; 04/10/19 &nbsp; - Slides</a></li>
						<li><a href="https://zdrive.li/wb9" target="_blank" class="">Meeting #2 04/10/19 &nbsp; - Notes</a></li>
						<li><a href="https://zdrive.li/Xqc" target="_blank" class="">Meeting #3&nbsp; 05/08/19 - Slides</a></li>
						<li><a href="https://zdrive.li/y2w" target="_blank" class="">Meeting #3&nbsp; 05/08/19 - Notes</a></li>
						<li><a href="https://zdrive.li/3ON" target="_blank">Meeting #4&nbsp; 06/03/19 - Slides</a></li>
						<li><a href="https://zdrive.li/vFT" target="_blank">Meeting #4 06/03/19 - Notes</a></li>
						<li><a href="https://show.zohopublic.com/publish/f99hpe2fd7660bf614db1a2e8ba31693dfcbb?viewtype=1" target="_blank">Meeting #5 07/01/19 - Slides</a></li>
						<li><a href="https://zdrive.li/udK" target="_blank">Meeting #5 07/01/19 - Notes</a></li>
						<li><a href="https://show.zohopublic.com/publish/fx2ch30bdacca20c241c6ac3e721ec87e41c1?viewtype=1" target="_blank">Meeting #6 08/05/19 - Slides</a></li>
						<li><a href="https://workdrive.zoho.com/file/646550719edd3ad89494495ff29cb9a8a4131" target="_blank">Meeting #6 08/05/19 - Notes</a></li>
						<li><a href="https://show.zohopublic.com/publish/ge6023a487bb49df5457ea10b77679e52c7ba?viewtype=1" target="_blank">Meeting #7 09/09/19 - Slides</a></li>
						<li><a href="https://zdrive.li/UeULlm" target="_blank">Meeting #7 09/09/19 - Notes</a></li>
						<li><a href="https://show.zohopublic.com/publish/h1g6zb1aa47f47d4f4fccad88b3ee99534c71?viewtype=1" target="_blank">Meeting #8 10/07/19 - Slides</a></li>
						<li><a href="https://tdrive.li/pYOyoe" target="_blank">Meeting #8 10/07/19 - Notes</a></li>
						<li><a href="https://iiw.idcommons.net/Me2B_Relationship_Management/Tech_Archite" target="_blank">IIW 29 10/01/19 Me2B Relationship Management/ Tech Architecture</a></li>
						<li><a href="https://iiw.idcommons.net/Me2B_Intro_%26_Org_Finder_Wiki" target="_blank">IIW 29 10/2/19 Me2B Intro &amp; Org Finder Wiki</a></li>
						<li><a href="https://show.zohopublic.com/publish/herfb30f49ad7901a4a58807476ba0d34bbd9" target="_blank">Meeting #9 11/4/19 - Slides</a></li>
						<li><a href="https://show.zohopublic.com/publish/hqo210fcbe36aecf441f9be604a7e02630949" target="_blank">Meeting #10 12/2/19 - Slides</a></li>
						<li><a href="https://tdrive.li/IIzc40" target="_blank">Meeting #10&nbsp; Org Finder Wiki - Slides</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="repository_content pt60 pb60">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Code of Practice Working Group (GoodCoPs WG)</h2>
				<div class="Repository_link_grid">
					<ul>
						<li><a href="https://tdrive.li/hPCHI7">OPEN QUESTIONS, AGREEMENTS, & ACTION ITEMS</a></li>
					</ul>
				</div>
				<div class="Repository_link_grid">
					<h3>MEETING NOTES</h3>
					<ul>
						<li><a title="" href="https://zdrive.li/eZZ" target="_blank">05/24/19 Meeting</a></li>
						<li><a title="" href="https://zdrive.li/PNG" target="_blank">07/19/19 Meeting</a></li>
						<li><a title="" href="https://zdrive.li/AvgkjA" target="_blank">08/23/19 Meeting</a></li>
						<li><a title="" href="https://zdrive.li/w8bCMQ" target="_blank">08/30/19 Meeting</a></li>
						<li><a title="" href="https://zdrive.li/658m3j" target="_blank">09/06/19 Meeting</a></li>
						<li><a title="" href="https://tdrive.li/yZpUcV" target="_blank">09/20/19 Meeting</a></li>
						<li><a title="" href="https://tdrive.li/E5tFQ0" target="_blank">10/11/19 Meeting</a></li>
					</ul>
				</div>
				<div class="Repository_link_grid">
					<h3>CODE OF PRACTICE DEVELOPMENT</h3>
					<ul>
						<li><a title="" href="https://zdrive.li/5K3" target="_blank">Strawperson Draft 0</a></li>
						<li><a title="" href="https://zdrive.li/K0M" target="_blank">Code of Practice v1.0</a></li>
						<li><a title="" href="https://show.zohopublic.com/publish/f0tjsfdce9e822982418d83478aa0d5fc44fe?viewtype=1" target="_blank">Certification Criteria Development Process v0</a></li>
					</ul>
				</div>
				<div class="Repository_link_grid">
					<h3>CERTIFICATION CRITERIA</h3>
					<ul>
						<li><a href="https://zdrive.li/MPo15F" target="_blank">Certification Criteria Draft 0</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="repository_content pt60 pb60">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Consumers Working Group​</h2>
				<div class="Repository_link_grid">
					<h3>MEETING NOTES</h3>
					<ul>
						<li><a href="https://zdrive.li/gvC" target="_blank">Meeting #1 - 05/31/19</a></li>
						<li><a href="https://zdrive.li/xR2" target="_blank">Meeting #2 - 06/14/19</a></li>
						<li><a href="https://zdrive.li/nH0" target="_blank">Meeting #3 - 06/28/19</a></li>
						<li><a href="https://zdrive.li/ePl" target="_blank">Meeting #4 - 07/12/19</a></li>
						<li><a href="https://workdrive.zoho.com/file/5jhfq946225b8f8cc4715bccfc74971c0da48" target="_blank">Meeting #5 - 07/26/19</a></li>
						<li><a href="https://zdrive.li/K3X8so" target="_blank">Meeting #6 - 08/23/19</a></li>
						<li><a href="https://zdrive.li/LrVkys" target="_blank">Meeting #7 - 09/06/19</a></li>
						<li><a href="https://tdrive.li/GnlRF3" target="_blank">Meeting #8 - 09/20/19</a></li>
						<li><a href="https://tdrive.li/dosDrg" target="_blank">Meeting #9 - 10/04/19</a></li>
					</ul>
				</div>
				<div class="Repository_link_grid">
					<h3>CUSTOMER VALIDATION TESTING</h3>
					<ul>
						<li><a href="https://show.zohopublic.com/publish/hcp2m144564ac6b0b4ebeb7b0075b0ef39546" target="_blank">Qualitative Test #1 - Research Objectives</a></li>
						<li><a href="https://tdrive.li/4h9Xis" target="_blank">Qualitative Test #1 - Screener</a></li>
						<li><a href="https://tdrive.li/5qQ9wb" target="_blank">Qualitative Test #1 - Interview Questions</a></li>
					</ul>
				</div>
				<div class="Repository_link_grid">
					<h3>GROUP DOCUMENTS</h3>
					<ul>
						<li><a href="https://zdrive.li/jL8" target="_blank">Me2B Consumer Services Brainstorming</a></li>
						<li><a href="https://workdrive.zohopublic.com/sheet/open/80q91835b3ee519664234ab5fc2c4b14522e9/sheets/Key%20Questions/ranges/A1" target="_blank">Consumers WG Tracker</a></li>
					</ul>
				</div>
				<div class="Repository_link_grid">
					<h3>REFERENCE MATERIALS</h3>
					<ul>
						<li><a href="https://chicagounbound.uchicago.edu/cgi/viewcontent.cgi?article=2443&context=law_and_economics" target="_blank">Simplification of Privacy Disclosures: An Experimental Test  </a></li>
						<li><a href="https://www.hbs.edu/faculty/Publication%20Files/KimBaraszJohn18_be5ba706-b8c3-4ac4-bb48-3cc462bb0e08.pdf" target="_blank">Why Am I Seeing This Ad:  The Effect of Ad Transparency on Ad Effectiveness</a></li>
						<li><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/798547/Make_it_Clear_Labelling_Online_Study_Report.pdf" target="_blank">DCMS - Labelling Online Survey</a></li><li><a href="https://zdrive.li/tvs" target="_blank">IoT Privacy &amp; Security (label) CHI 2019</a></li>
						<li><a href="https://arxiv.org/abs/1805.03677" target="_blank">Dataset Nutrition Label (2018)</a></li>
						<li><a href="https://alliedmedia.org/news/2017/01/13/guidelines-equitable-open-data" target="_blank">Equitable Open Data Survey and Guidelines (2017)</a></li>
						<li><a href="https://www.syssec.ruhr-uni-bochum.de/media/emma/veroeffentlichungen/2019/09/05/uninformed-consent_Yl7FPEh.pdf" target="_blank">(Un)informed Consent: Studying GDPR Consent Notices in the Field (2019)</a></li>
						<li><a href="https://www.ndss-symposium.org/wp-content/uploads/2018/06/eurousec2018_12_Kulyk_paper.pdf" target="_blank">“This Website Uses Cookies”: Users’ Perceptions and Reactions to the Cookie Disclaimer (2018)</a></li>
						<li><a href="https://arxiv.org/pdf/1808.05096.pdf" target="_blank">We Value Your Privacy ... Now Take Some Cookies: Measuring the GDPR’s Impact on Web Privacy</a></li>
						<li><a href="https://www.smashingmagazine.com/2019/04/privacy-ux-better-cookie-consent-experiences/" target="_blank">https://www.smashingmagazine.com/2019/04/privacy-ux-better-cookie-consent-experiences/</a></li>
						<li><a href="https://www.smashingmagazine.com/2019/04/privacy-better-notifications-ux-permission-requests/" target="_blank">smashingmagazine.com/2019/04/privacy-better-notifications-ux-permission-requests/</a></li>
						<li><a href="https://www.smashingmagazine.com/2019/04/privacy-ux-aware-design-framework/" target="_blank">https://www.smashingmagazine.com/2019/04/privacy-ux-aware-design-framework/</a></li>
						<li><a href="https://medium.com/@geoffreykeating/cookies-9f1270110597" target="_blank">Cookie Law and UX</a> (2014)</li>
						<li><a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3342747&amp;download=yes" target="_blank">Trustworthy Privacy Indicators: Grades, Labels, Certifications, and Dashboards (2019)</a></li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</section>


<section class="repository_content pt60 pb60">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Policy and Legal Working Group (PaLs WG)</h2>
				<div class="Repository_link_grid">
					<h3>MEETING NOTES</h3>
					<ul>
						<li><a href="https://zdrive.li/eEO7XY" target="_blank">Meeting #1 - 08/26/19</a></li>
						<li><a href="https://zdrive.li/ElSKQV" target="_blank">Meeting #2 - 09/16/19</a></li>
						<li><a href="https://tdrive.li/yK3tmH" target="_blank">Meeting #3 - 10/14/19</a></li>
					</ul>
				</div>
				<div class="Repository_link_grid">
					<h3>REFERENCE MATERIALS</h3>
					<ul>
						<li><a href="https://tdrive.li/Cdr5QI" target="_blank">DRAFT:  Old School Goes Online:  Exploring fiduciary obligations of care, loyalty, and confidentiality in the digital platforms era (2019, Whitt)</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="repository_content pt60 pb60">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Marketing Materials</h2>
				<div class="Repository_link_grid">
					<h3>CERTIFICATION LOGOS</h3>
					<ul>
						<li><a href="https://zdrive.li/uyk" target="_blank">Badge 1</a></li>
						<li><a href="https://zdrive.li/Br9" target="_blank">Badge 2</a></li>
						<li><a href="https://zdrive.li/DlQ" target="_blank">Badge 3</a></li>
						<li><a href="https://zdrive.li/8eb" target="_blank">Badge 4</a></li>
					</ul>
				</div>
				<div class="Repository_link_grid">
					<h3>ALLIANCE LOGOS</h3>
					<ul>
						<li><a href="https://zdrive.li/cs1" target="_blank">Logo 1</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

{{ "<!-- End Repository -->" | safeHTML }}

{{ partial "footer.html" . }}
