body, html{
    font-size:16px;
    letter-spacing: .5px;
    line-height:20px;
    font-family: 'Montserrat', sans-serif;
}
body *{
    outline: none;
}
h1, h2, h3, h4, h5, h6{
    line-height:24px;
    margin-top:0;
}
img{
    max-width:100%;
}
.pt60{
    padding-top: 60px;
}
.pb60{
    padding-bottom: 60px;
}
.mb40{
    margin-bottom: 40px;
}
ul{
    list-style:none;
    padding-left:0;
    margin-bottom: 0;
}
.navbar-brand img {
    max-width: 150px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 1px solid transparent;
    padding: 0 5px;
}   
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #000;
    border-color: #000;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #000;
    opacity: 0.6;
}
#collapsibleNavbar {
    justify-content: center;
}
ul.navbar-nav > li {
    margin: 0px 15px;
    position: relative;
    z-index: 99;
}
.hero_banner {
    background: url(../images/home_banner.jpg);
    position: relative;
    padding: 60px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
footer#footer {
    position: relative;
    padding: 70px 0px;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.foot_txt {
    margin-bottom: 0;
    color: #000000;
    font-size: 14px;
    margin-top: 5px;
}
.foot_txt a{
    color: #000;
}
.foot_txt a:hover {
    text-decoration: none;
}
.hero_left_content h2 {
    color: #000;
    line-height: 38px;
    font-weight: 700;
    margin-bottom: 20px;
}
.hero_left_content p {
    color: #626262;
    font-size: 16px;
    line-height: 31px;
}
.hero_list_ul li{
    color: #626262;
}
.hero_list_ul li {
    color: #626262;
    font-size: 18px;
    line-height: 26px;
}
ul.hero_list_ul {
    margin-bottom: 20px;
}
.hero_right_content {
    text-align: center;
}
.alliance_announcement {
    background: #d5d5d5;
    padding: 20px;
    position: relative;
    margin-top: 10px;
}
.alliance_announcement h3 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
.alliance_announcement p a {
    border-bottom: 1px solid rgba(0,0,0,0.5);
    font-weight: 700;
    color: #626262;
    opacity: .7;
    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -ms-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}
.alliance_announcement p {
    color: #626262;
    font-size: 17px;
    line-height: 30px;
}
.alliance_announcement p a:hover{
    text-decoration: none;
    opacity: 0.4;
}

.menu {
  position: relative;
}
.menu ul.submenu {
  background: #ffffff;
    -webkit-box-shadow: inset 0px 0px 0px 1px #E1E4E6;
    -moz-box-shadow: inset 0px 0px 0px 1px #E1E4E6;
    -ms-box-shadow: inset 0px 0px 0px 1px #E1E4E6;
    box-shadow: inset 0px 0px 0px 1px #E1E4E6;
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: all .5s ease;
  top: 100%;
  width: 100%;
  visibility: hidden;
  min-width: 200px;
}
.menu li:hover ul.submenu {
  height: auto;
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  visibility: visible;
}

.menu ul.submenu a {
    color: #000;
    display: block;
    padding: 8px 15px;
    text-transform: uppercase;
    font-size: 13px;
}
header#header {
    position: relative;
    z-index: 99;
}
.menu ul.submenu a:hover {
    text-decoration: none;
    color: #000;
    opacity: 0.6;
}
.banner {
    background-repeat: no-repeat;
    padding: 75px 0px;
    background-size: cover;
    background-position: center;
}
.banner h1 {
    color: #fff;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 120px;
}
.banner.calendar_banner h1{
    font-size: 90px;
}
.calendar_content {
    position: relative;
    padding: 60px 0px;
    text-align: center;
}
.iframe_calendar {
    max-width: 1000px;
    margin: 0 auto 40px;
    overflow-y: hidden;
}
.calendar_content h2 {
    margin-bottom: 20px;
    font-weight: 400;
}
.calendar_content p {
    color: #626262;
    font-size: 17px;
}
.calendar_content p a{
    opacity: .7;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -ms-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    color: #828282;
}
.calendar_content p a:hover{
    opacity: 0.4;
    text-decoration: none;
}
.ethical_foundation {
    background: url(../images/ethical_foundation_bg.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.Me2B_Relationships p {
    color: #626262;
    font-size: 16px;
    line-height: 31px;
}
.Me2B_Relationships h2, .ethical_foundation h2, .Me2B_Principles h2, .Me2B_Principles h2, .about_bussiness h2 {
    color: #000;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 32px;
}
ul.ethical_ul li {
    color: #626262;
    font-size: 16px;
    line-height: 25px;
    position: relative;
    margin-bottom: 8px;
    padding-left: 20px;
}
ul.ethical_ul li strong {
    color: #000;
}
ul.ethical_ul {
    position: relative;
    margin-top: 35px;
    margin-bottom: 25px;
}
ul.ethical_ul li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    height: 6px;
    width: 6px;
    background: #626262;
    border-radius: 50%;
}
.Me2B_Principles {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    position: relative;
}
.me2B_principle_uline {
    margin-bottom: 0;
    padding-left: 20px;
}
.me2B_principle_uline > li {
    margin-bottom: 10px;
    color: #626262;
    font-size: 16px;
    line-height: 25px;
}
.me2B_principle_uline ul li {
    position: relative;
    padding-left: 25px;
    line-height: 25px;
    margin: 8px 0px;
}
.me2B_principle_uline ul li:before {
    content: "";
    position: absolute;
    left: 8px;
    top: 8px;
    height: 6px;
    width: 6px;
    background: #626262;
    border-radius: 50%;
}
.about_bussiness h4 {
    margin-bottom: 20px;
}
.about_bussiness p {
    color: #626262;
    font-size: 16px;
    line-height: 31px;
}
ul.ab_business_ul li {
    margin-bottom: 10px;
    color: #626262;
    font-size: 16px;
    line-height: 25px;
    padding-left: 30px;
    position: relative;
}
ul.ab_business_ul li:before {
    content: "";
    position: absolute;
    left: 8px;
    top: 8px;
    height: 6px;
    width: 6px;
    background: #626262;
    border-radius: 50%;
}
ul.ab_business_ul ul {
    margin-top: 15px;
}
.ab_content{
    background: url(../images/ethical_foundation_bg.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.ab_content p {
    color: #626262;
    font-size: 16px;
    line-height: 31px;
}
.vision_ab h2, .mission_ab h2 {
    margin-bottom: 20px;
    font-weight: 600;
}
.vision_ab h3, .mission_ab h3  {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 30px;
}
.join_form input.form-control, .join_form textarea.form-control {
    border-radius: 0;
    font-size: 15px;
    border: 1px solid rgba(0,0,0,0.2);
}
.join_form input.form-control {
    height: 42px;
}
.join_form input.form-control:focus, .join_form textarea.form-control:focus, .join_form input.form-control:hover, .join_form textarea.form-control:hover{
    box-shadow: none;
    border-color: #000;
}
.join_form textarea.form-control{
    resize: none;
}
.submit_btn {
    background: #e1e4e6;
    border-radius: 0px;
    padding: 10px 30px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.submit_btn:hover, .submit_btn:focus{
    background: rgb(197, 203, 207);
    box-shadow: none;
}
span.required_astrik {
    color: rgb(255, 40, 37);
}
form.join_form {
    margin-top: 30px;
}
form.join_form label {
    text-transform: uppercase;
    font-size: 16px;
    color: #626262;
    line-height: 24px;
}
.Repository_link_grid ul li a {
    color: #626262;
    opacity: .7;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    transition: all 0.3s;
    word-break: break-all;
}
.Repository_link_grid ul li {
    margin-bottom: 12px;
    position: relative;
    padding-left: 20px;
}
.Repository_link_grid ul li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    height: 6px;
    width: 6px;
    background: #626262;
    border-radius: 50%;
}
.Repository_link_grid {
    margin-bottom: 35px;
}
.Repository_link_grid ul li a:hover {
    text-decoration: none;
    opacity: 0.4;
}
.repository_content {
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.Repository_link_grid h3 {
    font-size: 20px;
    margin-bottom: 15px;
}
.repository_content h2 {
    font-size: 30px;
    margin-bottom: 25px;
}
.launching_company {
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
.launching_company h2 {
    color: rgb(63, 63, 63);
    font-size: 90px;
    line-height: 120px;
    margin-bottom: 20px;
    font-weight: 700;
}
.launching_btn {
    font-size: 11px;
    font-weight: 700;
    background: #000;
    padding: 15px 32px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.15em;
    line-height: 1;
    transition: all 0.3s;
}
.launching_btn:hover, .launching_btn:focus {
    background: rgba(0,0,0,0.6);
    color: #fff;
    text-decoration: none;
}
.cookie_policy_content h2 {
    margin-bottom: 20px;
    font-weight: 600;
}
.cookie_policy_content p {
    color: #626262;
    font-size: 16px;
    line-height: 26px;
}
.cookie_p_ul li{
    position: relative;
    padding-left: 20px;
    color: #626262;
    font-size: 16px;
    margin-bottom: 10px;
}
.cookie_p_ul li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    height: 6px;
    width: 6px;
    background: #626262;
    border-radius: 50%;
}
.cookie_p_ul{
    margin-bottom: 20px;
}
.join_webinar {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.upcoming_webinar h2 {
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 32px;
}
.upcoming_webinar p {
    color: #626262;
    font-size: 16px;
    line-height: 28px;
}
.upcoming_webinar h4 {
    margin-bottom: 20px;
    color: #626262;
    font-weight: 600;
    font-size: 20px;
}
.Speaker img {
    margin-bottom: 20px;
    margin-top: 20px;
}
.Speaker {
    margin-top: 40px;
}
.Speaker h3 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}
.w_profile_name, .w_profile_post {
    margin-bottom: 10px;
    color: #626262;
    font-size: 16px;
    line-height: 18px;
}
.join_webinar strong {
    margin-bottom: 5px;
    display: block;
    color: #626262;
}
.join_webinar a {
    opacity: .7;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -ms-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    color: #626262;
    word-break: break-word;
}
.join_webinar a:hover{
    opacity: 0.4;
    text-decoration: none;
}
ul.more_phone_numbers li {
    font-size: 16px;
    margin-top: 10px;
}
ul.more_phone_numbers {
    margin-bottom: 25px;
}
span.join_lead {
    font-size: 13px;
}
.join_form_div h2 {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 35px;
}


 #nav-icon0 {
  width: 30px;
  height: 35px;
  position: relative;
  margin: 10px 0px 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
}



/* Icon 2 */

#nav-icon0 {
}

#nav-icon0 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #000;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon0 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon0 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon0 span:nth-child(1), #nav-icon0 span:nth-child(2) {
  top: 0px;
}

#nav-icon0 span:nth-child(3), #nav-icon0 span:nth-child(4) {
  top: 10px;
}

#nav-icon0 span:nth-child(5), #nav-icon0 span:nth-child(6) {
  top: 20px;
}

#nav-icon0.open span:nth-child(1),#nav-icon0.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon0.open span:nth-child(2),#nav-icon0.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon0.open span:nth-child(1) {
  left: 0px;
  top: 9px;
}

#nav-icon0.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 9px;
}

#nav-icon0.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon0.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon0.open span:nth-child(5) {
  left: 0px;
  top: 19px;
}

#nav-icon0.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 19px;
}